= form_for cart do |f|
  /todo: добавить nested_form для создания корзины (чтобы админ мог вручную создать)
  / необходимо иметь возможность добавлять позиции, кол-во
  .actions = f.submit t('views.cart.save_button')
