@import "bootstrap";
footer {
  position: relative;
  border-top: 1px solid #8A8A8A;
  color: $grayLight;
  padding-top: 40px;
  color: #FFF;
  background-color: #5E5E5E;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  .totop {
    position: absolute;
    right: 48%;
    top: 0;
    background-color: #8A8A8A;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    p {
      margin: 0;
    }
    &:after {
      border-color: #8A8A8A transparent;
      border-style: solid;
      border-width: 0 15px 15px;
      bottom: auto;
      content: "";
      display: block;
      left: auto;
      margin-right: -15px;
      position: absolute;
      right: 50%;
      top: -14px;
      transition: border-color 0.3s ease 0s;
      width: 0;
    }
  }
}
