header {
  &.navbar-inverse {
    .navbar-inner {
      background-color: #6B6B6B;
      background-image: none;
      border: none;
    }
    .brand {}
    .nav > li {
      border-right: 1px solid #484949;
      border-collapse: collapse;
      -webkit-box-shadow: inset 3px 0 4px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 3px 0 4px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 3px 0 4px 2px rgba(0, 0, 0, 0.1);
      position: relative;
      background-color: #6B6B6B;
      min-height: 40px;
      transition: background-color 0.3s ease 0s;
      &:after {
        display: block;
        opacity: 0;
        position: absolute;
        bottom: -15px;
        right: 41%;
        content: "";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 15px 9px 0 9px;
        border-color: #6B6B6B transparent transparent transparent;
        transition: border-color 0.3s ease 0s;
      }

      &:first-child {
        border-left: 1px solid #484949;
      }
      &:hover {
        background-color: #FF7200;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transition: background-color 0.3s ease 0s;
        &:after {
          opacity: 1;
          border-color: #FF7200 transparent transparent transparent;
          transition: border-color 0.3s ease 0s;
        }
      }

      > a {
        color: #FFF;
      }
    }
  }

}
