.slider-container {
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}
.slider-bg {
  position: absolute;
  width: 100%;
  height: 420px;
  background-color: #D86B06;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.57, #CE5505),
    color-stop(0.71, #D86B06),
    color-stop(1, #F5CE0D)
  );
  background-image: -o-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: -moz-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: -webkit-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: -ms-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: linear-gradient(to right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
}


.popular-item-list {
  margin-top: 20px;
  overflow: hidden;
}
.popular-item {
  position: relative;
  width: 450px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    opacity: 1;
    width: 450px;
    min-height: 200px;
    transition: all 0.4s ease-in 0s;
  }
  span {
    display: block;
    width: 180px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: -43px;
    margin-left: 0;
    margin-top: 0;
    background-color: #FF7200;
    color: #FFF;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    -moz-transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
    -o-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
    transform: rotate(-46deg);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}


// Блок с новостями внизу
.news {
  background: image-url('/assets/background/news.jpg') no-repeat 0 0;
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
  margin-top: 20px;

  .container,
  .row {
    height: 100%;
  }

  .news-blocks {
    width: 100%;
    height: 100%;
    > div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      .news-content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        margin: auto 0;
        padding: 20px;
      }
    }
  }
}

//Блок с контактами внизу
.contacts {
  min-height: 70px;
  background-color: #11808A;
  //background-image: linear-gradient(to bottom, #11949E, #0F6C75);
  //background-repeat: repeat-x;
  a,
  a:hover,
  a:active,
  a:focus {
    color: #FFF;
    font-size: 31px;
    line-height: 134px;
    text-decoration: none;
    cursor: default;
    span {
      color: #ABABAB;
    }
  }
  address {
    margin-bottom: 13px;
    a,
    a:hover,
    a:active,
    a:focus {
      cursor: pointer;
      color: #333;
      font-size: 14px;
      line-height: 1.25;
    }
    p {
      margin-bottom: 1px;
    }
  }
}
