@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800&subset=latin,cyrillic-ext);

body {
  font-family: 'Open Sans', Arial, sans-serif;
  padding-top: 41px; // должен быть равен высоте хэдэра
}

h1 {
  font-size: 42px;
  font-weight: 300;
  color: #000;
}
h2 {
  font-size: 40px;
  font-weight: 300;
  color: #000;
}
.separator {
  width: 100%;
  height: 1px;
  border-top: 1px solid #DDD;
}

.slider-container {
  position: relative;
}
.slider-bg {
  position: absolute;
  width: 100%;
  height: 420px;
  background-color: #D86B06;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.57, #CE5505),
    color-stop(0.71, #D86B06),
    color-stop(1, #F5CE0D)
  );
  background-image: -o-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: -moz-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: -webkit-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: -ms-linear-gradient(right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
  background-image: linear-gradient(to right bottom, #CE5505 57%, #D86B06 71%, #F5CE0D 100%);
}


.popular-item {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
  background-color: #DDD;

  img {
    opacity: 1;
    width: 200px;
    height: 200px;
  }
  span {
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 4;
    color: transparent;
    display: block;
    width: 150px;
    height: 150px;
    font-size: 24px;
    line-height: 150px;
    text-align: center;
    text-decoration: none;
    background-color: #11808A;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    transition: all 0.4s ease-in 0s;
  }
  &:hover {
    img {
      opacity: 0;
    }
    span {
      opacity: 1;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      line-height: 200px;
      color: #fff;
    }
  }
}
