#slides {
  display: none;
  position: relative;
  overflow: visible !important;
  margin-top: 80px;
}

.item {
  overflow: hidden;
  height: 100%;
  img {
    float: left;
    width: 50%;
    //height: 434px;
  }
  > div {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    .item-description-top {
      height: 81%;
      color: #FFF;
      h1 {
        color: #FFF;
      }
    }
    .item-buttons {
      height: 19%;
      a {
        margin-right: 7px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
//Пейджинатор
.slidesjs-pagination {
  list-style: none;
  text-align: center;
  margin-top: 30px;
  li {
    display: inline-block;
    a {
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      background-color: #F76B18;
      float: left;
      overflow: hidden;
      text-indent: -9999px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid #EB4A22;
      margin-right: 5px;

      &.active {
        background-color: #EB4A22;
      }
    }
  }
}
//Стрелочки
a.slidesjs-next,
a.slidesjs-previous {
  position: absolute;
  top: 20%;
  left: -80px;
  z-index: 100;
  background: image-url('/assets/arrows/arrow.png') repeat 0 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  opacity: 0.6;
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  text-indent: -9999px;
  &:hover {
    opacity: 1;
  }
}
a.slidesjs-next {
  background-image: image-url('/assets/arrows/arrow1.png');
  left: auto;
  right: -80px;
}
a.slidesjs-play,
a.slidesjs-stop {
  display: none !important;
}
